.subpage-hero {
	display: flex;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 450px;

	.content-wrapper {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}