<div 
    class="uk-width-1-1 block-section-wrapper bg--{{ styles.background_color }} padding remove-{{ global.padding|join('-') }} {{ block.className }}"
    style="background-image: url({{ styles.background_image }})">
    <div class="content-wrapper">
        <InnerBlocks  />
    </div>
</div>