@use "breakpoints";
@use "variables";

.bg {
	&--light {
		background-color: variables.$module_bg_light;
	}

	&--dark {
		background-color: variables.$module_bg_dark;
	}

	&--neutral {
		background-color: variables.$module_bg_neutral;
	}
}

.padding {
	padding: 50px 0 !important;

	&-medium {
		padding: 25px 0 !important;
	}

	&-small {
		padding: 15px 0 !important;
	}

	&-xs {
		padding: 5px 0 !important;
	}

	@include breakpoints.medium {
		padding: 75px 0 !important;

		&-medium {
			padding: 50px 0 !important;
		}

		&-small {
			padding: 25px 0 !important;
		}

		&-xs {
			padding: 15px 0 !important;
		}
	}


	&.remove {
		&-top {
			padding-top: 0 !important;
		}

		&-bottom {
			padding-bottom: 0 !important;
		}

		&-top-bottom {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
	}
}

// For elements that should be hidden until the page is loaded
.hidden-until-ready {
	visibility: hidden;
}