// Module blocks background options
$module_bg_dark: #D0D0D0;
$module_bg_neutral: #F2F2F2;
$module_bg_light: #FFF;

$white: #fff;
$black: #000;

// $primary: #3c64b1;
// $secondary: #373f41;
// $body: #737b7d;