<div class="single-column-text uk-width-1-1 bg--{{ styles.background_color }} padding remove-{{ global.padding|join('-') }}">
	<div class="content-wrapper {{ styles.column_width }}">
		<div class="richtext-content">
			{{ content.body_text }}
		</div>
	</div>
</div>