{% extends "base.twig" %}

{% block content %}
	<div class="not-found uk-width-1-1 padding">
		<div class="content-wrapper">

			<div class="uk-flex-middle uk-flex uk-flex-center" uk-height-viewport="expand: true">
				<div class="uk-text-center">
					<h1>Page not found</h1>
					<div class="uk-margin-medium-top">
						<a class="button button--primary" href="{{ site.url }}">Return to home</a>
					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}